.pure-u-1-12,
.pure-u-1,
.pure-u-1-6,
.pure-u-1-1,
.pure-u-1-4,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-12,
.pure-u-2-3,
.pure-u-3-4,
.pure-u-3-12,
.pure-u-4-12,
.pure-u-5-12,
.pure-u-5-6,
.pure-u-6-12,
.pure-u-7-12,
.pure-u-8-12,
.pure-u-9-12,
.pure-u-10-12,
.pure-u-11-12,
.pure-u-12-12 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-u-1-12 {
  width: 8.3333%;
  *width: 8.3023%;
}

.pure-u-1-6,
.pure-u-2-12 {
  width: 16.6667%;
  *width: 16.6357%;
}

.pure-u-1-4,
.pure-u-3-12 {
  width: 25%;
  *width: 24.9690%;
}

.pure-u-1-3,
.pure-u-4-12 {
  width: 33.3333%;
  *width: 33.3023%;
}

.pure-u-5-12 {
  width: 41.6667%;
  *width: 41.6357%;
}

.pure-u-1-2,
.pure-u-6-12 {
  width: 50%;
  *width: 49.9690%;
}

.pure-u-7-12 {
  width: 58.3333%;
  *width: 58.3023%;
}

.pure-u-2-3,
.pure-u-8-12 {
  width: 66.6667%;
  *width: 66.6357%;
}

.pure-u-3-4,
.pure-u-9-12 {
  width: 75%;
  *width: 74.9690%;
}

.pure-u-5-6,
.pure-u-10-12 {
  width: 83.3333%;
  *width: 83.3023%;
}

.pure-u-11-12 {
  width: 91.6667%;
  *width: 91.6357%;
}

.pure-u-1-1,
.pure-u-1,
.pure-u-12-12 {
  width: 100%;
}

@media (min-width: 480px) {
  .pure-t-1-12,
  .pure-t-1,
  .pure-t-1-6,
  .pure-t-1-1,
  .pure-t-1-4,
  .pure-t-1-2,
  .pure-t-1-3,
  .pure-t-2-12,
  .pure-t-2-3,
  .pure-t-3-4,
  .pure-t-3-12,
  .pure-t-4-12,
  .pure-t-5-12,
  .pure-t-5-6,
  .pure-t-6-12,
  .pure-t-7-12,
  .pure-t-8-12,
  .pure-t-9-12,
  .pure-t-10-12,
  .pure-t-11-12,
  .pure-t-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-t-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-t-1-6,
  .pure-t-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-t-1-4,
  .pure-t-3-12 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-t-1-3,
  .pure-t-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-t-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-t-1-2,
  .pure-t-6-12 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-t-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-t-2-3,
  .pure-t-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-t-3-4,
  .pure-t-9-12 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-t-5-6,
  .pure-t-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-t-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-t-1-1,
  .pure-t-1,
  .pure-t-12-12 {
    width: 100%;
  }
}

@media (min-width: 980px) {
  .pure-d-1-12,
  .pure-d-1,
  .pure-d-1-6,
  .pure-d-1-1,
  .pure-d-1-4,
  .pure-d-1-2,
  .pure-d-1-3,
  .pure-d-2-12,
  .pure-d-2-3,
  .pure-d-3-4,
  .pure-d-3-12,
  .pure-d-4-12,
  .pure-d-5-12,
  .pure-d-5-6,
  .pure-d-6-12,
  .pure-d-7-12,
  .pure-d-8-12,
  .pure-d-9-12,
  .pure-d-10-12,
  .pure-d-11-12,
  .pure-d-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-d-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-d-1-6,
  .pure-d-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-d-1-4,
  .pure-d-3-12 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-d-1-3,
  .pure-d-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-d-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-d-1-2,
  .pure-d-6-12 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-d-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-d-2-3,
  .pure-d-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-d-3-4,
  .pure-d-9-12 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-d-5-6,
  .pure-d-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-d-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-d-1-1,
  .pure-d-1,
  .pure-d-12-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .pure-l-1-12,
  .pure-l-1,
  .pure-l-1-6,
  .pure-l-1-1,
  .pure-l-1-4,
  .pure-l-1-2,
  .pure-l-1-3,
  .pure-l-2-12,
  .pure-l-2-3,
  .pure-l-3-4,
  .pure-l-3-12,
  .pure-l-4-12,
  .pure-l-5-12,
  .pure-l-5-6,
  .pure-l-6-12,
  .pure-l-7-12,
  .pure-l-8-12,
  .pure-l-9-12,
  .pure-l-10-12,
  .pure-l-11-12,
  .pure-l-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-l-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-l-1-6,
  .pure-l-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-l-1-4,
  .pure-l-3-12 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-l-1-3,
  .pure-l-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-l-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-l-1-2,
  .pure-l-6-12 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-l-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-l-2-3,
  .pure-l-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-l-3-4,
  .pure-l-9-12 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-l-5-6,
  .pure-l-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-l-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-l-1-1,
  .pure-l-1,
  .pure-l-12-12 {
    width: 100%;
  }
}